.row {
    justify-content: space-around;
    align-items: center;
}
.coll {
    width:fit-content;
    text-align: center;
}
.logo {
    filter:drop-shadow(0 16px 10px rgba(41, 41, 41, 0.695));
    padding:10px;
    transition: 0.6s;
}

.logo:hover{
    filter:brightness(105%);
    transform: rotate(10deg);
}