#aboutBox {
    height:max-content;
    border: none;
    color: black;
    z-index:999;
}
.headerAbout {
    background-color: #fa023c;
}
.aboutPage {
    color:black;
    border-radius: 8px 8px 0 0;
}
.card-body {
    background-color: #252525;
}
.title-about {
    color:#c8ff00;
}
.text-about {
    text-align: justify;
    color:antiquewhite;
}
#aboutNavItem-1 {
    background-color:#252525;
    border: none;
}

