#aboutBox {
    height:max-content;
    border: none;
    border-top: 2px solid rgb(232, 232, 232);
    color: black;
    z-index:999;
}
.aboutPage {
    background-color: dodgerblue;
    color:black;
    border-radius: 8px 8px 0 0;
    border-right: 1px solid rgb(224, 224, 224);
}
.title-about {
    color:black;
}
.text-about {
    text-align: justify;
}
