.portHeader-list {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    align-items:center;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
}
.portTitle{
    color:#fa023c;
}

.portHeader-list-itemBox {
    width: 10em;
    height: 10em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink:0;
}

.portHeader-list-itemBox figure {
    background: dodgerblue;
    border-radius:50%;
}
.portHeader-list-itemBox p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
}

