#footerBox {
    height:220px;
    color:antiquewhite;
}
#footer {
    background:transparent;
    border:none;
}
.i-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items:center;
}

.fa-brands {
    color: #c8ff00;
}
.fa-brands:hover {
    color: #fa023c;
}