.fa-github-alt {
    color:antiquewhite;
}
.nav-link.active{
    color:#fa023c !important;
}
.nav-link:hover, .fa-github-alt:hover {
    color:#c8ff00 ;
    font-size: 105%;
}
.dropdown-item:hover {
    background-image: linear-gradient(to right, rgb(121, 148, 253), rgba(255, 255, 255, 0));
    color:antiquewhite;
}