#carouselBox {
    display:flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
}

#carouselBoxItem {
    width:70vw;
}
.w-100 { /*Images Carousel*/
    border-radius:20px;
    filter:brightness(80%);
    border: 2px solid silver;
}