#carouselBox {
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
    color:#fa023c;
}

.w-100 { /*Images Carousel*/
    width: 80%;
    border-radius:20px;
    filter:brightness(80%);
    border: 2px solid silver;
}

ul, li, a {
    text-decoration:none;
    list-style-type:none;
    color: #fa023c;
}
.linkTo:hover{
    color:#c8ff00;
    transition: 0.5s;
}