body {
  background-color: aliceblue;
}
.layout{
  background-image: url('../src/img/bg-poly-grid-haikei-light.svg');
  background-size:200vw;
  animation: pan 60s infinite alternate linear;
}
/*@keyframes pan {
  100% {background-position: 15% 50%;}
}*/
